html, body {
    font-size: 62.5%;
}
html, body, h1, h2, h3, h4, h5, h6, p, span, a, label, input, textarea, button {
    font-family: 'Lato', 'sans-serif';
}

h1, h2, h3, h5 {
    text-transform: uppercase;
}

h1, h2 {
    font-size: 21px;
    font-size: 2.1rem;
    font-weight: 400;
    letter-spacing: 1.5px;
}
h3 {
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 6px;
}
h5 {
    font-size: 17px;
    font-size: 1.7rem;
    font-weight: 300;
    letter-spacing: 2px;
}
label {
    font-size: 12px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #5b5b5b;
    letter-spacing: 1px;
}
.navbar {
    height: 60px;
}
.navbar-nav {
    text-align: center;
}
.navbar-light .navbar-toggler {
    border: 1px solid transparent;
    text-align: center;
    padding: 20px 10px;
    font-weight: 700;
    color: #484848;
    font-size: 13px;
    text-transform: uppercase;
}
.navbar-light .navbar-toggler:focus {
    border: none;
    outline: none;
}
.collapse.show {
    background: linear-gradient(to bottom, #ffffff, rgba(255,255,255, .5));
    z-index: 100;
    margin: 0 -10%;
}
.collapsing {
    background: linear-gradient(to bottom, #ffffff, rgba(255,255,255, .5));
    z-index: 100;
    margin: 0 -10%;
}
.navbar-light .navbar-nav .nav-link  {
    color: #484848;
    text-transform: uppercase;
    font-size: 13px;
}

.carousel {
    margin-bottom: 20px;
    margin-bottom: 2rem;
}
.carousel .carousel-item img {
    min-width: auto;
}

/* classes to animate text on front page slider */
.carousel-caption {
    bottom: 0;
    top: 43%;
    margin-left: 100%;
}

.move-out {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    margin-left: -200% !important;
}
.move-in {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    margin-left: 0 !important;
}

.carousel-title {
    font-size: 2.4rem;
    font-weight: 400;
    color: #ededed;
    letter-spacing: 10.5px;
    white-space: nowrap;
}

.carousel-title > a {
    text-decoration: none;
}

.carousel-title > a:hover {
    color: inherit;
    text-decoration: none;
}

.title-dark {
    color: #333;
}
.title-light {
    color: #ededed;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to bottom, #96949e, transparent 10%, transparent)
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: 1s;
    transition-property: opacity;
   }
   
   .carousel-fade  .carousel-item.active,
   .carousel-fade  .carousel-item-next.carousel-item-left,
   .carousel-fade  .carousel-item-prev.carousel-item-right {
     opacity: 1;
   }
   
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-right {
    opacity: 0;
   }
   .carousel-fade  .carousel-item-next,
   .carousel-fade .carousel-item-prev,
   .carousel-fade .carousel-item.active,
   .carousel-fade .active.carousel-item-left,
   .carousel-fade  .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}

.work-header {
    color: #313131;
    font-size: 1.8rem;
    letter-spacing: 4px;
    font-weight: 700;
    padding: 2rem 0;
    margin-bottom: 0;
}
.project-header {
    color: #313131;
    font-size: 15px;
    font-weight: 700;
    padding: 1rem 0;
}
.project-category {
    font-size: 12px;
    color: #b5b5b5;
}
#work {
    margin-bottom: 2rem;
}
.p-text {
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    padding: 1rem 0;
    color: #5b5b5b;
}
.read-more a {
    background: transparent;
    color: #5b5b5b;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
}
.read-more a:hover {
    background: #9eaeae;
    text-decoration: none;
}
.submit-button {
    background: transparent;
    padding: 1rem 3rem;
    border: 1px solid #ededed;
    border-radius: 0;
    letter-spacing: 4.5px;
    color: #5b5b5b;
    text-transform: uppercase;
    font-size: 1.1rem;
}
.submit-button:hover {
    text-decoration: none;
 }
.intro-div {
    margin: 3rem auto;
}
.intro-div > h1 {
    font-size: 24px;
    font-size: 2.4rem;
}
.intro-div > p {
    font-size: 1.6rem;
    letter-spacing: 1.5px;
}
.name-h1 {
    margin-top: 2rem;
    letter-spacing: 4px;
}
.social-icon {
    max-width: 25px;
    height: auto;
}
.form-control {
    border: 1px solid #ededed;
}
.form-control:focus { 
    border: 1px solid #eaeaea;
}
/* works.html */
.dropdown {
    margin: 0 auto;
}
.dropdown-menu {
    width: 150px;
    text-align: left;
    background: #fff;
    border: 1px solid transparent;
}
.dropdown-toggle {
    background: transparent!important;
    border: 1px solid transparent!important;
    border-radius: 0;
    width: 100%;
    color: #666666!important;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.dropdown-item {
    font-size: 1.2rem;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 1rem 1.5rem;
}
.dropdown-item:active {
    background-color: #ededed;
    color: #666;
}
.dropdown-item:focus { 
    outline: none;
}

.dropdown-toggle:focus {
    box-shadow: none!important;
}
.dropdown-toggle:hover {
    background: transparent!important;
    color: #666666!important;
    border: 1px solid transparent!important;
}
.btn-secondary:not(:disabled):not(.disabled):active {
    background: transparent;
    color: #666666;
    border: 1px solid transparent;
}
.dropdown-toggle:active {
    background: transparent;
    color: #666666;
    border: 1px solid transparent;
}

.footer-image {
    max-width: 30px;
}

/* Work.html */
.embed-container {
    position:relative;
    padding-bottom:38%;
    height:0;
    overflow:hidden; 
}
    
    .embed-container iframe, .embed-container object, .embed-container embed {
    position:absolute;
    top:0;
    left:15px;
    width:95%;
    height:100%; }

/* MEDIA QUERIES*/


@media only screen and (min-width: 576px) {
    .carousel-title {
        font-size: 2.4rem;
        letter-spacing: 10.5px;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2rem;
        padding-left: .5rem;
    }
    .dropdown-toggle {
        padding-top: .4rem;
    }
}
@media (max-width: 768px) {
    .embed-container {
        position:relative;
        padding-bottom:43%;
        padding-top:30px;
        margin-left: -15px;
        height:0;
        overflow:hidden; 
    }
}


/* Front page carousel text animation */

@-webkit-keyframes slideout {
    0%   { translateX: 100; }
    100%   { translateX: 100; }
  }
  @-moz-keyframes slideout {
    0%   { translateX: 100; }
    100%   { translateX: 100; }
  }
  @-o-keyframes slideout {
    0%   { translateX: 100; }
    100%   { translateX: 100; }
  }
  @keyframes slideout {
    0%   { translateX: 100; }
    100%   { translateX: 100; }
  }